<div>
    <h2>Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div>
            <md-input-container style="width: 100%;">
                <input mdInput placeholder="username" name="username" [(ngModel)]="model.username" #username="ngModel" required>
            </md-input-container>
        </div>
       <div>
            <md-input-container style="width: 100%;">
                <input mdInput placeholder="company" name="company" [(ngModel)]="model.company" #company="ngModel" required>
            </md-input-container>
       </div>

       <div *ngIf="error">
            This user or company not authenticate, please try again!
       </div>

        <div>
            <button md-raised-button style="width: 80%; display: flex; justify-content: center;">Login</button>
        </div>
    </form>
</div>