<div>
    <h1>Hi {{ currentUser.username }}</h1>
    <h3>Company: {{ currentUser.company }}</h3>
    <p><a [routerLink]="['/login']">Logout</a></p>
    <md-divider></md-divider>
    <h3>Add your albums</h3>
    <md-list>
        <md-list-item *ngFor="let album of albums">
            {{album.title}}
        </md-list-item>
    </md-list>
</div>